<h1>Login</h1>

<%= form_tag user_sessions_path, method: :post do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br/>
    <%= submit_tag 'Login' %>
<% end %>

<%= link_to 'Back', events_path %>