<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Extraordinary Events</h1>
    <% if logged_in? %>
      <h3>Current user:</h3>
      <%= current_user.name %>
      <%= link_to 'Sign out', logout_path %>
      <%= link_to 'Create event', new_event_path %>
      <%= link_to 'View my events', user_path(current_user) %>
    <% else %>
      <%= link_to 'Sign in', login_path %>
      <%= link_to 'Sign up', new_user_path %>
    <% end %>
    <%= link_to 'View all events', events_path %>
    <%= yield %>
  </body>
</html>
